<html>
    <%-include('../header')%>
    <body>
        <%
            
        %>
        <a href="/">메인으로</a>
        <div>
                <form action="/user/<%= data[0].id%>?_method=patch" method="POST">
                    이메일 = <input type="email" name ="email" value="<%= data[0].email%>"><br>
                    이름 = <input type="text" name="name" value="<%= data[0].name%>"><br>
                    비밀번호 = <input type="password" name="password" value="<%= data[0].password%>"><br>
                    학번 = <input type="number" name="number" value="<%= data[0].number%>"><br>
                    핸드폰 = <input type="number" name="phone" value="<%= data[0].phone%>"><br>
                    <input type="submit" value="수정">
                </form>
                <form action="/users/<%= data[0].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="삭제">
                </form>
        </div>
    </body>
    <%-include('../footer')%>
</html>